<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header Access-Control-Allow-Methods "PUT,POST,DELETE,GET,OPTIONS"
    Header set Access-Control-Allow-Headers "Accept,Authorization,Content-Type"
</IfModule>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ ^$1 [N]

RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
RewriteRule ^(.*)$ public/$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ server.php
